[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sec-api = "*"
python-dotenv = "*"
bs4 = "*"
pygsheets = "*"
lxml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
